.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    height: 100%;
    min-height: 100dvh;
    padding: 4rem;

    header{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;

        h1{
            font-size: 2rem;
            font-weight: 700;
            color: var(--tertiary-color);
            font-family: var(--heading-font);
        }

        p{
            font-size: 1rem;
            color: var(--dark-color);
            font-family: var(--body-font);
            letter-spacing: 1px;
            padding-left: 0.5rem;
        }
    }

    .cartItemsGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        gap: 1rem;

        .cardWrapper{
            display: flex;
            justify-content: flex-start;
            gap: 0.5rem;

            .cardActions{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .itemSelector{
                    display: grid;
                    place-content: center;
                    border: 2px solid var(--tertiary-color);
                    border-radius: 10px;
                    background-color: var(--light-color);
                    appearance: none;
                    height: 2rem;
                    width: 2rem;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &::before{
                        content: '';
                        height: 1.4rem;
                        width: 1.4rem;
                        border-radius: 6px;
                        background-color: var(--tertiary-color);
                        transform: scale(0);
                    }

                    &:checked::before { transform: scale(1);} 
                }

                .removeItemBtn{
                    font-family: var(--body-font);
                    font-size: 0.8rem;
                    font-weight: 700;
                    padding: 0.5rem;
                    border-radius: 10px;
                    cursor: pointer;
                    border: none;
                    transition: all 0.2s ease;
                    background-color: rgb(200, 100, 100);
                    border: none;
                    color: var(--light-color);
                    width: 100%;

                    &:hover { background-color: rgb(180, 80, 80); }
                }
            }

            .productCard{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;
                background-color: var(--secondary-color);
                padding: 1rem;
                padding-bottom: 0.5rem;
                border-radius: 20px;
                
                .productHeader{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 1rem;

                    h3{
                        font-size: 1rem;
                        font-family: var(--body-font);
                        color: var(--dark-color);
                    }

                    .categoryTag{
                        font-size: 1rem;
                        font-family: var(--body-font);
                        color: #444;
                    }
                }

                .productImageWrapper{
                    position: relative;
                    aspect-ratio: 1/1;
                    object-fit: cover;

                    .price{
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 1rem;
                        font-weight: 700;
                        font-family: var(--body-font);
                        color: var(--light-color);
                        background-color: var(--secondary-color);
                        border-bottom-left-radius: 20px;
                        padding-left: 1rem;
                        padding-bottom: 0.5rem;
                    }

                    img{
                        border-radius: 20px;
                        height: 100%;
                        width: 100%;
                    }

                    .stockStatus{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                        background-color: var(--secondary-color);
                        color: var(--light-color);
                        font-family: var(--body-font);
                        font-size: 0.8rem;
                        font-weight: 700;
                        text-align: center;
                        padding: 0.2rem 2rem;
                        border-radius: 40px;
                    }
                }

                .productDetailInfo{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 1rem 0;
                        
                    .productItemQuantity{
                        display: flex;
                        justify-content: center;
                        gap: 0.5rem;

                        button{
                            background-color: var(--main-color); 
                            padding: 0.8rem 1rem;
                            font-family: var(--body-font);
                            font-size: 0.8rem;
                            font-weight: 700;
                            border-radius: 10px;
                            text-decoration: none;
                            cursor: pointer;
                            border: none;
                            transition: all 0.2s ease;

                            &:hover:not(.disabled){
                                background-color: var(--tertiary-color); 
                                color: var(--light-color);
                            }
                        }

                        .counter{
                            display: grid;
                            place-items: center;
                            background-color: var(--light-color);
                            border: 2px solid var(--main-color);
                            border-radius: 10px;
                            font-family: var(--body-font);
                            font-size: 0.8rem;
                            font-weight: 700;
                            max-width: 6rem;
                        }
                    }
                }
            }
        }
    }

    .summaryCard{
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--secondary-color);
        padding: 1rem;
        border-radius: 20px;
        z-index: 2;

        &.open{ display: flex; }

        .hideBtn {
            position: absolute;
            top: 12px;
            right: 12px;
            background: transparent;
            border: none;
            color: var(--light-color);
            font-size: 1.2rem;
            cursor: pointer;
            padding: 0.2rem 0.5rem;
            border-radius: 50%;
            transition: all 0.2s ease;

            &:hover { color: var(--dark-color); }
        }

        h2{
            font-size: 1.5rem;
            font-weight: 700;
            white-space: nowrap;
            color: var(--light-color);
            text-align: center;
            font-family: var(--heading-font);
        }

        .totalWrapper{
            display: flex;
            justify-content: center;
            gap: 1rem;

            .wrapper{
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                background-color: var(--main-color);
                border-radius: 10px;
                padding: 0.5rem 1rem;

                .itemHeading, .amountHeading{
                    font-size: 0.8rem;
                    color: var(--dark-color);
                    font-family: var(--body-font);
                    letter-spacing: 1px;
                }

                .totalItems, .totalAmount{
                    font-size: 1rem;
                    font-weight: 700;
                    font-family: var(--body-font);
                    color: var(--dark-color);
                    letter-spacing: 1px;
                }
            }
        }

        .checkoutBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.8rem 1rem;
            font-family: var(--body-font);
            font-size: 0.8rem;
            font-weight: 700;
            border-radius: 10px;
            background-color: var(--light-color);
            color: var(--dark-color);
            cursor: pointer;
            border: none;
            transition: all 0.2s ease;

            &:hover:not(:disabled){ background-color: var(--main-color); }
            &:disabled{
                background-color: #ddd;
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }

    .displayBtn{
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.8rem 1rem;
        font-family: var(--body-font);
        font-size: 1rem;
        font-weight: 700;
        border-radius: 10px;
        background-color: var(--main-color);
        color: var(--dark-color);
        cursor: pointer;
        border: none;
        transition: all 0.2s ease;

        &:hover{ background-color: var(--secondary-color); }

        .selectedBadge {
            color: var(--dark-color);
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

@media (max-width: 800px){
    .cartContainer{
        padding: 2rem;

        .cartItemsGrid{ justify-content: center; }

        .summaryCard{
            padding: 0.8rem;
            left: 10px;
            gap: 0.5rem;

            .hideBtn {
                top: -60px;
                font-size: 1.2rem;
                padding: 0.8rem 1rem;
                border-radius: 10px;
                background-color: var(--secondary-color);
            }

            h2{ font-size: 1rem; }

            .totalWrapper{
                gap: 0.5rem;
                
                .wrapper .totalItems, .wrapper .totalAmount{ font-size: 0.8rem; }
                .wrapper .itemHeading, .wrapper .amountHeading, .checkoutBtn{ font-size: 0.6rem; }
            }
        }
    }
}